# Ignore build/dist outputs
dist/
build/
lib/

# Ignore node moudules
node_modules/
.package-lock.json

# MacOS
.DS_Store

# Logs
logs/
*.log

# Ignore IDE specific files
.idea/
.vscode/
.venv
package-lock.json
